*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    width: 100vw;
    min-height: 100vh;
    background-color: #ec4c4c;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content{
    color: #fff;
    margin: 10px 0px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.image-container img{
    margin: 10px;
    border-radius: 10px;
    width: 220px;
    height: 250px;
    background-color: #d3d3d3;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
}
.image-container img:hover{
    transform: scale(1.02);
}
.shrink {
    transform: scale(0.8);

}
.btn{
    padding:20px;
    border-radius: 10px;
    background-color:#6a5acd;
    color: #fff;
    font-weight: 550;
    font-size: 1em;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    margin: 20px;
}
.model {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(2px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.model-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 60%;
    position: relative;
}
.model-content img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    display: block;
}
.model-text{
    margin-top:10px;
    font-size: 1.5rem;
}
.model-nav{
    width: 780px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 160px;
}
.download{
    align-self: flex-start;
    margin: 20px 0px;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
}
.download:hover{
    background-color: #fff;
}
.download a button{
    font-size: 18px;
}.download a button:hover{
    color: #000;
}
button{
    background: transparent;
    outline:none;
    border: none;    
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}
.model .close{
    position: absolute;
    font-size: 2rem;
    top: 50px;
    right: 280px;
    font-family: sans-serif;
    cursor: pointer;
}
.model-container{
    display: none;
}
.model-container.active {
    display: block; 
}
