@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Sofadi One", system-ui;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #0@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Sofadi One", system-ui;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    color: #ffffff;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.image-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    text-align: left;
}
.image-container h3{
    letter-spacing: 6px;
}
.image-container img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
button{
    width: 100px;
    padding: 10px;
    background-color: #d44040;
    outline: none;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    transition:0.3s;
}
button:hover{
    background-color: #f73535;
    transform: scale(1.03);
}
.video-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.8s;
}
.video-container video{
    max-width: 900px;
    outline: none;
    position: relative;
}
@media (max-width:991px){
    .video-container video{
        width: 90%;
    }
}
.close-icon{
    position: fixed;
    top: 35px;
    right:150px;
    color: #fff;
    cursor: pointer;
}
.active.video-container{
    visibility: hidden;
    opacity: 0;
}00;
    color: #ffffff;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.image-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    text-align: left;
}
.image-container h3{
    letter-spacing: 6px;
}
.image-container img{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}
button{
    width: 100px;
    padding: 10px;
    background-color: #d44040;
    outline: none;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    transition:0.3s;
}
button:hover{
    background-color: #f73535;
    transform: scale(1.03);
}
.video-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.video-container video{
    max-width: 900px;
    outline: none;
    position: relative;
}
@media (max-width:991px){
    .video-container video{
        width: 90%;
    }
}
.close-icon{
    position: absolute;
    top: 30px;
    right:30px;
    color: #fff;
    cursor: pointer;
}
